<h5 class="title-modal-member text-center">
  <%= t "member_detail" %>
  <% if current_user.user_clubs.joined.of_club(@club) %>
    <%= link_to dashboard_club_export_members_path(format: :xlsx, id: @club),
      class: "pull-right", title: t("export_member") do %>
      <span class = "export-member primary">
        <i class="fa fa-download"></i>
      </span>
    <% end %>
  <% end %>
</h5>
<div class="content-list modal-body row">
  <strong><%= t "modal_manager" %></strong>
</div>
<div class="content-list modal-body row">
  <% @infor_club.members_manager.each do |member| %>
    <div class="col-md-1 col-sm-2 col-xs-3">
      <div class="text-center">
        <%= link_to user_path(member.user_id), title: member.full_name do %>
          <%= image_tag member.avatar, class: "member-club-view" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% if @members_not_manager.present? %>
  <div class="content-list modal-body row">
    <strong><%= t "modal_member" %></strong>
  </div>
  <div class="content-list modal-body row load-member">
    <% @members_not_manager.each do |member| %>
      <div class="col-md-1 col-sm-2 col-xs-3">
        <div class="text-center user-member">
          <%= link_to user_path(member.user_id), title: member.full_name do %>
            <%= image_tag member.avatar,
              class: "member-club-view" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% unless @members_not_manager.current_page == @members_not_manager.total_pages %>
      <div class="col-md-1 col-sm-2 col-xs-3" id="view-more">
        <div class="text-center">
          <%= link_to url_for(page: @members_not_manager.next_page, user: "true"), remote: true, title: t("more") do %>
            <span class = "view-user-member">
              +<%= @infor_club.members_not_manager.size - Settings.page_member_not_manager %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="modal-body row">
  <% if @club.is_admin? current_user %>
    <strong>
      <%= link_to user_club_path(@club), remote: :true,
        class: "animation-fadeIn360 pull-left", title: t("more") do %>
        <i class="fa fa-pencil-square-o"></i><%= t "edit_member.editmember" %>
      <% end %>
      <%= link_to ".import_user_club", data: { toggle: :collapse },
        class: "import_user", title: t("import_member") do %>
        <i class="fa fa-file-excel-o"></i><%= t "import_member" %>
      <% end %>
    </strong>
  <% end %>
</div>
<% if @club.is_admin? current_user %>
  <div class = "import_user_club collapse">
    <%= form_tag manager_import_user_clubs_path(club_id: @club.id), multipart: true,
      method: :post do %>
      <%= file_field_tag :file, class: "input-file" %>
      <%= submit_tag t("import_user_club"), class: "btn btn-success btn_import",
        title: t("title_import_club") %>
    <% end %>
  </div>
  <div class="text-center">
    <h5><%= t "edit_member.userrequest" %></h5>
  </div>
  <div class="modal-body row">
    <div class="widget-simple user-request">
      <div class="table-responsive">
        <table class="table ui-block table-pricing">
          <tbody>
            <% if members_pending.any? %>
              <% members_pending.each do |member| %>
                <tr class="add-user-member" id = "request_<%= member.id%>">
                  <td>
                    <%= link_to user_path(member.user_id) do %>
                      <%= image_tag member.avatar, class: "member-avatar-request" %>
                    <% end %>
                  </td>
                  <td>
                    <%= member.full_name %>
                  </td>
                  <td>
                    <%= member.email %>
                  </td>
                  <td>
                    <%= link_to t("accept"),
                      user_request_club_path(id: member.id, club_id: @club.id,
                      status: :joined), method: :put, remote: true,
                      data: {confirm: t("answer_active")} %> /
                    <%= link_to t("reject"),
                      user_request_club_path(id: member.id ,club_id: @club.id,
                      status: :reject), method: :put, remote: true,
                      data: {confirm: t("answer_reject")} %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr class="text-center">
                <td colspan="4">
                  <h5 class="center notifi-empty"><%= t "edit_member.no_request" %></h5>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
<div class="form-group text-center">
  <button type="button" class="btn btn-warning button-more" data-dismiss="modal">
    <%= t "close" %>
  </button>
</div>
