<div class="ui-block-title ui-block-title-small">
  <h6 class="title"><%= t "plan_active" %></h6>
  <% if @club.is_admin? current_user %>
    <%= link_to edit_club_path(id: @club, tab: "plan"), title: t("edit"), remote: :true,
      class: "btton-edit-organization animation-fadeIn360 pull-right" do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
  <% end %>
</div>
<div class="title-detail ui-block-title-small">
  <h6 class="title">
    <i class="fa fa-codepen" aria-hidden="true"></i>
    <%= t "plan" %>
  </h6>
</div>
<div class="content_tab">
  <%= view_detail_club(@club.plan) %>
</div>
<div class="title-detail ui-block-title-small">
  <h6 class="title">
    <i class="fa fa-codepen" aria-hidden="true"></i>
    <%= t "local_club" %>
  </h6>
</div>
<div class="content_tab">
  <p><%= view_detail_club(@club.local) %></p>
</div>
<div class="title-detail ui-block-title-small">
  <h6 class="title">
    <i class="fa fa-codepen" aria-hidden="true"></i>
    <%= t "time_club" %>
  </h6>
</div>
<div class="content_tab">
  <p>
    <% if @club.time_activity.present? %>
      <% @club.time_activity.each do |time| %>
        <%= time %>
      <% end %>
    <% else %>
      <h5 class="text-center"><strong><i>#{t("content_empty")}</i></strong></h5>
    <% end %>
  </p>
</div>
