<div class="col-md-12 col-md-offset-2">
  <div class="modal-dialog edit-club modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="block">
          <div class="row edit-organization">
            <h2 class="text-center col-md-12"><%= @club.name %></h2>
            <div class="col-md-12 col-md-offset-1">
              <%= form_for @club, url: organization_club_path(@club.organization_id, @club),
                html: {multipart: true} do |f| %>
                <%= render "shared/error_messages", object: f.object %>
                <div class="form-group">
                  <label class="col-md-3 control-label"><%= t "background" %></label>
                  <div class="col-md-12">
                    <%= f.file_field :image %>
                  </div>
                  <%= image_tag @club.image, class: "background-club", id: "image-background-club" %><hr/>
                </div>
                <% Club::CROP_IMAGE.each do |attr| %>
                  <%= f.hidden_field attr.to_sym, id: "club_#{attr}" %>
                <% end %>
                <div class="text-center col-md-12">
                  <%= f.submit t("update"), class: "btn btn-primary col-md-2 btn-sm" %>
                  <%= f.button t("close"), class: "btn btn-sm btn-warning",
                    "data-dismiss": "modal" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "background_club" %>
