<%= javascript_include_tag "bootstrap-tagsinput.js",
  "data-turbolinks-track" => true %>
<div class="col-md-12 col-md-offset-2">
  <div class="modal-dialog edit-club modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="block">
          <div class="row edit-organization">
            <h2 class="text-center col-md-12"><%= @club.name %></h2>
            <div class="col-md-12 col-md-offset-1">
              <%= form_for @club, url: dashboard_club_path(@club, tab: "infor"),
                remote: :true, html: {multipart: true} do |f| %>
                <div class="album-errors"></div>
                <div class="form-group">
                  <label class="col-md-3 control-label"><%= t "name" %></label>
                  <div class="col-md-12 edit-album">
                    <%= f.text_field :name, placeholder: t("club_manager.album.name_holder"), class: "form-control input-edit" %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label"><%= t "enter_tags" %></label>
                  <div class="col-md-12 edit-album">
                    <%= f.text_field(:tag_list, value: @club.tag_list.join(","),
                      "data-role": "tagsinput", class: "form-control input-edit")%>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label"><%= t "member_count" %></label>
                  <div class="col-md-12 edit-album">
                    <%= f.text_field :member, placeholder: t("member_count"),
                      class: "form-control input-edit" %>
                  </div>
                </div>
                <div class="text-center col-md-12">
                  <%= f.submit t("update"), class: "btn btn-primary col-md-2 btn-sm" %>
                  <%= f.button t("close"), class: "btn btn-sm btn-warning",
                    "data-dismiss": "modal" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
