<div class="col-md-12 col-md-offset-2">
  <div class="modal-dialog edit-club modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="block">
          <div class="row edit-organization">
            <h2 class="text-center col-md-12"><%= @club.name %></h2>
            <div class="col-md-12 col-md-offset-1">
              <%= form_for @club, url: dashboard_club_path(@club, tab: "rules"),
                remote: :true, html: {multipart: true} do |f| %>
                <div class="album-errors"></div>
                <div class="form-group col-md-12">
                  <%= f.label(:rules, class: "control-label") do %>
                    <%= t "rules_club" %>
                  <% end %>
                  <%= f.cktext_area :rules, class: "form-control input-text" %>
                </div>
                <div class="form-group col-md-12">
                  <%= f.label(:rule_finance, class: "control-label") do %>
                    <%= t "rule_finance" %>
                  <% end %>
                  <%= f.cktext_area :rule_finance, class: "form-control input-text" %>
                </div>
                <div class="form-group col-md-12">
                  <%= f.label(:time_join, class: "control-label") do %>
                    <%= t "time_member_join" %>
                  <% end %>
                  <%= f.cktext_area :time_join, class: "form-control input-text" %>
                </div>
                <div class="text-center col-md-12">
                  <%= f.submit t("update"), class: "btn btn-primary col-md-2 btn-sm" %>
                  <%= f.button t("close"), class: "btn btn-sm btn-warning",
                    "data-dismiss": "modal" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
