<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header top-header-favorit">
          <section class="top-header-thumb">
            <% if @club.is_admin? current_user %>
              <div class="edit-images-club">
                <%= link_to "#", data: {toggle: "dropdown"}, class: "edit-logo-organization" do %>
                  <i class="fa fa-camera" aria-hidden="true"></i>
                  <span class="animation-slideUp hidden-xs rating-container">
                    <%= t "update_background" %>
                  </span>
                <% end %>
                <ul class="drop-image dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li>
                    <%= link_to edit_club_path(id: @club.id, tab: "image"), class: "set-image-club",
                      remote: :true do %>
                      <%= t "upload_photo" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to set_image_club_path(club_id: @club.id), class: "set-image-club",
                      remote: :true do %>
                      <%= t "choose_album" %>
                    <% end %>
                  </li>
                </ul>
              </div>
            <% end %>
            <%= image_tag @club.image, class: "img-cover", title: t("image_cover") %>
            <div class="top-header-author col-md-9">
              <div class="author-thumb">
                <%= image_tag @club.logo, class: "img-cover img_small", title: t("image_cover") %>
              </div>
              <div class="author-content">
                <a href="#" class="h3 author-name"><%= @club.name %></a>
                <span class="animation-slideUp hidden-xs rating-container">
                  <%= render "ratings/rating" %>
                </span>
              </div>
              <div class="pull-right">
                <%= render "button_leave_club" %>
              </div>
            </div>
          </section>
          <div class="profile-section">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <ul class="profile-menu tab_list_detail_club">
                  <li>
                    <%= link_to t("events"), "#event", class: "active" %>
                  </li>
                  <li>
                    <%= link_to t("images"), "#image" %>
                  </li>
                  <li >
                    <%= link_to t("detail"), "#content_club" %>
                  </li>
                  <li >
                    <%= link_to t("plan_active"), "#plan" %>
                  </li>
                  <li>
                    <%= link_to t("rules"), "#rules_club" %>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <% if @club.is_admin? current_user %>
                  <%= link_to edit_club_path(id: @club.id, tab: "infor"), title: t("edit_infor_club"),
                    remote: :true, class: "edit-infor-club pull-right" do %>
                    <i class="fa fa-cog"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
