<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header top-header-favorit">
          <section class="top-header-thumb">
            <div class="col-md-12 edit-images-club">
              <% if @club.is_admin? current_user %>
                <div class="pull-right">
                  <%= link_to "#", data: {toggle: "dropdown"}, class: "edit-logo-organization" do %>
                    <i class="fa fa-camera" aria-hidden="true"></i>
                    <span class="animation-slideUp hidden-xs rating-container">
                      <%= t "update_background" %>
                    </span>
                  <% end %>
                  <ul class="drop-image dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li>
                      <%= link_to edit_club_path(id: @club, tab: "image"), class: "set-image-club",
                        remote: :true do %>
                        <i class="fa fa-cloud-upload"></i>
                        <%= t "upload_photo" %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to set_image_club_path(club_id: @club.id), class: "set-image-club",
                        remote: :true do %>
                        <i class="fa fa-picture-o"></i>
                        <%= t "choose_album" %>
                      <% end %>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
            <%= image_tag @club.image, class: "img-cover", title: t("image_cover") %>
            <div class="top-header-author col-md-9">
              <div class="author-thumb">
                <%= image_tag @club.logo, class: "img-cover img_small" %>
                <% if @club.is_admin? current_user %>
                  <div class="edit-logo-club">
                    <%= link_to edit_club_path(id: @club, tab: "logo"), remote: :true,
                      class: "edit-logo" do %>
                      <i class="fa fa-camera" aria-hidden="true"></i>
                      <span class="animation-slideUp hidden-xs rating-container">
                        <%= t "update_logo" %>
                      </span>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="author-content">
                <a href="#" class="h3 author-name"><%= @club.name %></a>
                <span class="animation-slideUp hidden-xs rating-container">
                  <%= render "ratings/rating" %>
                </span>
              </div>
              <div class="pull-right">
                <%= render "button_leave_club" %>
              </div>
            </div>
          </section>
          <div class="profile-section">
            <div class="row">
              <div class="col-md-7 offset-md-3">
                <ul class="profile-menu tab_list_detail_club">
                  <li>
                    <%= link_to t("events"), "#event", class: "active" %>
                  </li>
                  <li>
                    <%= link_to t("images"), "#image" %>
                  </li>
                  <li >
                    <%= link_to t("detail"), "#content_club" %>
                  </li>
                  <li >
                    <%= link_to t("plan_active"), "#plan" %>
                  </li>
                  <li>
                    <%= link_to t("rules"), "#rules_club" %>
                  </li>
                  <% if @club.is_admin? current_user %>
                    <li>
                      <%= link_to t("statistic_report"), "#statistic_report" %>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="col-md-1 offset-md-1">
                <% if @club.is_admin? current_user %>
                  <%= link_to "#", data: {toggle: "dropdown"},
                    class: "btn-sm btn btn-breez edit-infor-club pull-right" do %>
                    <i class="fa fa-cog"></i> <i class="fa fa-caret-down"></i>
                  <% end %>
                  <ul class="active-club dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li>
                      <%= link_to edit_club_path(id: @club, tab: Settings.club.infor),
                        remote: :true, class: "set-image-club" do %>
                        <i class="fa fa-pencil-square-o"></i> <%= t "edit_infor_club" %>
                      <% end %>
                    </li>
                    <li>
                      <% if @club.is_active %>
                        <%= link_to edit_set_active_club_path(@club, active: Settings.club.not_active), class: "set-image-club" do %>
                          <i class="fa fa-pause-circle-o"></i>
                          <%= t "pause_club" %>
                        <% end %>
                      <% else %>
                        <%= link_to edit_set_active_club_path(@club, active: Settings.club.is_active), class: "set-image-club" do %>
                          <i class="fa fa-play"></i>
                          <%= t "activated" %>
                        <% end %>
                      <% end %>
                    </li>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
