<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 tab_detail_club">
      <div class="ui-block js-tab-club" id="event-noti">
        <div class="ui-block-title ui-block-title-small">
          <div class="tab-in-activity">
            <div class="row">
              <div class="col-md-8">
                <ul class="profile-menu">
                  <li>
                    <%= link_to t("event_activity"), "#event-activity",
                      class: "w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red" %>
                  </li>
                  <li>
                    <%= link_to t("notification"), "#event-notification",
                      class: "w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <h6 class="title col-md-1"></h6>
          <% if @club.is_admin? current_user %>
            <%= link_to new_club_event_notification_path(
              club_id: @club.id), class: "btn btn-sm btn-breez" do %>
              <i class="fa fa-plus-circle"> </i><%= t "new_activity" %>
            <% end %>
          <% end %>
        </div>
        <div id="list-event-show-notification">
          <div class="event-table" id="event-activity">
            <%= render partial: "events/event", locals: {events: @events_activity.activity_money,
              tab_activity: true} %>
          </div>
          <div class="event-table hide-div" id="event-notification">
            <%= render partial: "events/event", locals: {events: @events_activity.notification,
              tab_activity: true} %>
          </div>
        </div>
      </div>
      <div class="ui-block js-tab-club" id="image">
        <div class="ui-block-title ui-block-title-small">
          <h6 class="title col-md-1"><%= t "albums" %></h6>
          <% if @club.is_admin? current_user %>
            <%= link_to "#modal-new-album", data: {toggle: "modal"}, class: "btn btn-sm btn-breez" do %>
              <i class="fa fa-camera"></i><%= t "club_manager.album.create" %>
            <% end %>
          <% end %>
        </div>
        <div class="content_tab">
          <%= render partial: "albums/album" %>
        </div>
      </div>
      <div class="ui-block js-tab-club" id="content_club">
        <%= render "club_content_goad" %>
      </div>
      <div class="ui-block js-tab-club" id="plan">
        <%= render "club_plan" %>
      </div>
      <div class="ui-block js-tab-club" id="rules_club">
        <%= render "club_rules" %>
      </div>
      <div class="ui-block js-tab-club" id="event">
        <div class="ui-block-title ui-block-title-small">
          <h6 class="title col-md-1"><%= t "events_money" %></h6>
          <% if @club.is_admin? current_user %>
            <%= link_to new_club_event_path(
              club_id: @club.id), class: "btn btn-sm btn-breez" do %>
              <i class="fa fa-plus-circle"> </i><%= t "form_event.new_event_money" %>
            <% end %>
          <% end %>
        </div>
        <div id="list-event-show">
          <%= render partial: "events/event", locals: {events: @events,
            tab_activity: false} %>
        </div>
      </div>
      <div class="ui-block js-tab-club" id="statistic_report"></div>
      <div id="history-report">
      </div>
      <div class="ui-block js-tab-club" id="club_sponsor"></div>
      <div class="ui-block js-tab-club" id="evaluates-list"></div>
    </div>
  </div>
</div>
<div id="modal-edit-content" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
</div>
<div id="modal-edit-plan" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
</div>
<div id="modal-edit-rules" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
</div>
<div id="modal-edit-infor" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
</div>
<%= javascript_include_tag "tabs" %>
