<div class="header-spacer header-spacer_custom"></div>
<%= render "main_header_club" %>
<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="ui-block-title custom_flex">
          <div class="item_club col-md-4">
            <%= search_form_for @q, url: club_url, method: :get do |f| %>
              <div class="w-search custom_medium">
                <div class="form-group with-button">
                <%= f.text_field :name_or_description_cont,
                  id: "search-term", class: "form-control",
                  placeholder: t("search") %>
                <button>
                  <svg class="olymp-magnifying-glass-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-magnifying-glass-icon") %>"></use></svg>
                </button>
                </div>
              </div>
            <% end %>
          </div>
          <div class="item_club col-md-4 text-center">
            <%= render "clubs/budget" %>
          </div>
          <div class="row col-md-3 offset-md-1 view-member" id="view_user">
            <% @infor_club.members_joined.take(Settings.max_display_member_club).each do |member| %>
              <div class="col-md-1 pull-left view-icon-memeber">
                <%= link_to user_path(member.user_id) do %>
                  <%= image_tag member.avatar, class: "member-club-view",
                    title: "#{member.full_name}" %>
                <% end %>
              </div>
            <% end %>
            <% if @infor_club.members_joined.size > Settings.max_display_member_club %>
              <div class="col-md-1 pull-left view-icon-memeber">
                <%= link_to user_request_club_path(@club), remote: :true,
                  class: "animation-fadeIn360", title: t("more") do %>
                  <span class = "view-user-member">+<%= @infor_club.members_joined.size - Settings.max_display_member_club %></span>
                <% end %>
              </div>
            <% else %>
              <div class="col-md-1 pull-left view-icon-memeber">
                <%= link_to user_request_club_path(@club), remote: :true,
                  class: "animation-fadeIn360", title: t("more") do %>
                  <span class = "view-user-member"><i class="fa fa-user"></i></span>
                <% end %>
              </div>
            <% end %>
            <% if @club.is_admin? current_user %>
              <div class="col-md-1 pull-left add-user-member">
                <%= link_to "#modal-add-user", data: {toggle: "modal"},
                  class: "animation-fadeIn360", title: t("add_member") do %>
                  <span class = "add-member"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="">
            <div id="modal-user" class="modal fade" tabindex="-1"
              role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg load-user">
                  <div class="modal-content modal-user">
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal-add-user" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
  <%= render partial: "add_user_club", locals: {user_clubs: @add_user_club} %>
</div>
<%= render "tab_content" %>
<%= render "messages/chat_box" if current_user.user_clubs.joined.of_club @club %>
