<%= form_tag set_user_club_path(@club), method: :put do %>
  <%= hidden_field_tag "club_id", params[:id]%>
  <div class="input-group form-search">
    <span class="input-group-addon" id="basic-addon1">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <%= text_field_tag :search_user, "", class: "form-control input-search",
      placeholder: t("edit_member.search_member") %>
  </div>
  <div class="widget-simple list-scroll">
    <div class="table-responsive">
      <table class="table ui-block table-pricing results">
        <tbody>
          <% if user_clubs.any? %>
            <%= render user_clubs.manager %>
            <%= render user_clubs.are_member %>
          <% else %>
            <tr class="text-center">
              <td colspan="4">
                <h3 class="center notifi-empty"><%= t "empty" %></h3>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-body row ui-block">
    <% if @club.is_admin? current_user %>
      <strong>
        <%= link_to "#modal-add-user", data: {toggle: "modal", dismiss: "modal"},
          class: "animation-fadeIn360 pull-left" do %>
          <i class="fa fa-plus" aria-hidden="true"></i><%= t "add_member" %>
        <% end %>
      </strong>
    <% end %>
  </div>
  <div class="modal-footer text-center">
    <%= submit_tag t("save"), class: "btn btn-sm btn-primary col-md-2" %>
    <button type="button" class="btn btn-sm button-more" data-dismiss="modal">
      <%= t "close" %>
    </button>
  </div>
<% end %>
