<div class="table-responsive">
  <table class="ui-block table-pricing table-white list-event-notifications">
    <thead>
      <tr>
        <th class="column-date"><%= t ".date" %></th>
        <th><%= t "name" %></th>
        <th><%= t ".detail" %></th>
      </tr>
    </thead>
    <tbody>
      <% array_detail.each do |detail| %>
        <tr>
          <td>
            <% if detail.date_event.present? %>
              <%= l detail.date_event, format: :short %>
            <% end %>
          </td>
          <td><%= detail.name_event %></td>
          <td><%= raw(detail.detail) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
