<div class="col-md-12 col-md-offset-2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <% if report.monthly? %>
          <h6 class="col-md-11 text-center">
            <%= t "detail_report_club", time: month_report(report.time), year: report.year %>
          </h6>
        <% elsif report.quarterly? %>
          <h6 class="col-md-11 text-center">
            <%= t "detail_report_club", time: quarter_report(report.time), year: report.year %>
          </h6>
        <% end %>
        <%= button_tag type: "button", class: "close", data: {dismiss: "modal"} do %>
          &times;
        <% end %>
      </div>
      <div class="modal-body">
        <div class="text-center col-md-12">
          <div class="row">
            <div class="list-infor-club inline-items col-md-4">
              <strong><%= t "user_name" %>:</strong>
              <span><%= report.user_full_name %></span>
            </div>
            <div class="list-infor-club inline-items col-md-4">
              <strong><%= t "date_request" %>:</strong>
              <span>
                <%= l report.created_at, format: :short %>
              </span>
            </div>
            <div class="list-infor-club inline-items col-md-4">
              <strong><%= t "status" %>:</strong>
              <span class="status-report-<%= report.status %>">
                <%= t"#{report.status}" %>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <table class="table table-pricing results show-detail-report">
            <tr>
              <td class="category-report">
                <div class="inline-items">
                  <h6 class="title">
                    <strong><%= t "item_report" %></strong>
                  </h6>
                </div>
              </td>
              <td>
                <div class="inline-items text-center">
                  <h6 class="title">
                    <strong><%= t "detail_report" %></strong>
                  </h6>
                </div>
              </td>
            </tr>
            <% report_details.each do |key, array_detail| %>
              <tr>
                <td><%= array_detail.first.report_category_name %></td>
                <td><%=  render partial: "content_report", locals: {group_detail:
                  get_details_group_by_style(array_detail), array_detail: array_detail} %>
                </td>
              </tr>
            <% end %>
          </table>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "plan_next_month" %>:</strong>
            </h6><br/>
            <span>
              <%= report.plan_next_month %>
            </span><br/>
          </div>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "others" %>:</strong>
            </h6><br/>
            <span>
              <%= report.others %>
            </span><br/>
          </div>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "note" %>:</strong>
            </h6><br/>
            <span>
              <%= report.note %>
            </span>
          </div>
          <% if report.reason_reject.present? %>
            <div class="inline-items report-detail">
              <h6 class="title">
                <i class="fa fa-codepen"></i>
                <strong><%= t "reason_reject" %>:</strong>
              </h6><br/>
              <span>
                <%= report.reason_reject %>
              </span>
            </div><br/>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= button_tag t("close"), class: "btn btn-sm btn-warning",
          "data-dismiss": "modal" %>
      </div>
    </div>
  </div>
</div>
