<div class="col-md-12 col-md-offset-2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <% if report.monthly? %>
          <h6><%= t "detail_report_club", time: month_report(report.time),
            year: report.year %></h6>
        <% elsif report.quarterly? %>
          <h6><%= t "detail_report_club", time: quarter_report(report.time),
            year: report.year %></h6>
        <% end %>
        <%= button_tag type: "button", class: "close", data: {dismiss: "modal"} do %>
          &times;
        <% end %>
      </div>
      <div class="modal-body">
        <div class="text-center col-md-12">
          <div class="row">
            <div class="list-infor-club inline-items col-md-4">
              <strong><%= t "user_name" %>:</strong>
              <span><%= report.user_full_name %></span>
            </div>
            <div class="list-infor-club inline-items col-md-4">
              <strong><%= t "date_request" %>:</strong>
              <span>
                <%= l report.created_at, format: :short %>
              </span>
            </div>
            <div class="list-infor-club inline-items col-md-4">
              <strong><%= t "status" %>:</strong>
              <span class="status-report-<%= report.status %>">
                <%= t"#{report.status}" %>
              </span>
            </div>
          </div>
        </div>
        <table class="table ui-block table-pricing results">
          <thead>
            <tr>
              <th><%= t "item_report" %></th>
              <th><%= t "detail_report" %></th>
              <th><%= t "plan_next_month" %></th>
              <th><%= t "others" %></th>
              <th><%= t "note" %></th>
            </tr>
          </thead>
          <tbody>
            <tr class="add-user-member">
              <td>
                <%= report.item_report %>
              </td>
              <td>
                <%= report.detail_report %>
              </td>
              <td>
                <%= report.plan_next_month %>
              </td>
              <td>
                <%= report.others %>
              </td>
              <td>
                <%= report.note %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <%= button_tag t("close"), class: "btn btn-sm btn-warning",
          "data-dismiss": "modal" %>
      </div>
    </div>
  </div>
</div>
