<div class="col-md-12 col-md-offset-2">
  <div class="modal-dialog edit-club modal-lg">
    <div class="modal-content modal-report-detail">
      <div class="modal-body">
        <div class="block">
          <div class="ui-block-title ui-block-title-small">
            <h5 class="text-center col-md-12">
              <%= set_title_edit_report report %>
              <%= button_tag type: "button", class: "close", data: {dismiss: "modal"} do %>
                &times;
              <% end %>
            </h5>
          </div>
          <div class="col-sm-10 col-md-10 push-md-1">
            <%= render partial: "form_edit_report", locals: {report: report} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= include_gon %>
<%= javascript_include_tag "edit_statistic_report" %>
