<% if budgets.present? %>
  <label for="contact-name"><%= budgets.first.report_category_name %> *</label>
  (<%= l budgets.first.date_event, format: :short %> - <%= l budgets.last.date_event, format: :short %>)</br>
  <table class="table ui-block table table-bordered results">
    <thead>
      <tr class="deatil-money-first">
        <th colspan="5">
          <%= t "money_first" %>
          <%= number_to_currency(budgets.first.first_money, locale: :vi) %>
        </th>
      </tr>
      <tr>
        <th class="table-paymoney"><%= t "time_report" %></th>
        <th class="table-paymoney"><%= t "event_name" %></th>
        <th class="text-center"><%= t "amount_for" %></th>
        <th class="table-paymoney"><%= t "surplus" %></th>
      </tr>
    </thead>
    <tbody>
      <% budgets.each do |budget| %>
        <tr>
          <td><%= l budget.date_event, format: :short %></td>
          <td class="check-user">
            <%= budget.name_event %>
          </td>
          <td class="text-center">
            <%= number_to_currency(budget.money, locale: :vi) %>
            <% if budget.detail.is_a? Hash %>
              <%= link_to "#detail-budget-#{budget.id}", data: { toggle: :collapse },
                title: t("click_to_show") do %>
                <i class="fa fa-eye"></i>
              <% end %>
              <div class="collapse" id="detail-budget-<%= budget.id %>">
                <table class="table ui-block table table-bordered results">
                  <tr>
                    <th><%= t "content" %></th>
                    <th><%= t "report_categories.report_category.get_money" %></th>
                    <th><%= t "report_categories.report_category.pay_money" %></th>
                  </tr>
                    <% budget.detail.each do |key, budget_detail| %>
                      <tr>
                        <td><%= budget_detail[:name] %></td>
                        <td>
                          <% if budget_detail[:style] == Settings.static_report.get_money %>
                            <%= budget_detail[:money] %>
                          <% end %>
                        </td>
                        <td>
                          <% if budget_detail[:style] == Settings.static_report.pay_money %>
                            <%= budget_detail[:money] %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                </table>
              </div>  
            <% end %> 
          </td>
          <td>
            <%= number_to_currency last_money_of_event(budget), locals: :vi %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="5">
          <strong>
            <%= t "money_last" %>: <%= last_money budgets %>
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
