<% if budgets.present? %>
  <label for="contact-name"><%= budgets.first.report_category_name %> *</label>
  (<%= l budgets.first.date_event, format: :short %> - <%= l budgets.last.date_event, format: :short %>)</br>
  <table class="table ui-block table table-bordered results">
    <thead>
      <tr class="deatil-money-first">
        <th colspan="5">
          <%= t "money_first" %>
          <%= number_to_currency(budgets.first.first_money, locale: :vi) %>
        </th>
      </tr>
      <tr>
        <th><%= t "time_report" %></th>
        <th class="table-paymoney"><%= t "event_name" %></th>
        <th class="table-paymoney"><%= t "amount_for" %></th>
        <th class="table-paymoney"><%= t "surplus" %></th>
      </tr>
    </thead>
    <tbody>
      <% budgets.each do |budget| %>
        <tr>
          <td><%= l budget.date_event, format: :short %></td>
          <td class="check-user">
            <%= budget.name_event %>
          </td>
          <td class="text-center">
            <table class="table ui-block table table-bordered results">
              <tr>
                <th><%= t "content" %></th>
                <th><%= t "report_categories.report_category.get_money" %></th>
                <th><%= t "report_categories.report_category.pay_money" %></th>
              </tr>
              <%= number_to_currency(budget.money, locale: :vi) %>
              <% if budget.detail.is_a? Hash %>
                <% budget.detail.each do |key, budget_detail| %>
                  <tr>
                    <td><%= budget_detail[:name] %></td>
                    <td>
                      <% if budget_detail[:style] == Settings.static_report.get_money %>
                        <%= budget_detail[:money] %>
                      <% end %>
                    </td>
                    <td>
                      <% if budget_detail[:style] == Settings.static_report.pay_money %>
                        <%= budget_detail[:money] %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %> 
            </table>
          </td>
          <td></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="5">
          <strong>
            <%= t "money_last" %>:
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
