<div class="nested-fields">
  <div class="form-group row">
    <div class="form-group label-floating col-md-3">
      <label for="contact-name"><%= t "item_report" %></label></br>
      <%= f.select(:report_category_id, options_for_select(
        @report_categories.collect{|category| [category.name, category.id]}), {},
        {class: "form-control select_custom select_category_report"}) %>
    </div>
    <div class="form-group label-floating col-md-8 push-md-1">
      <%= f.label(:detail, class: "control-label") do %>
        <%= t("detail_report") %>
        <span class="text-danger">*</span>
      <% end %>
      <%= f.text_area :detail, class: "form-control", required: true %>
      <div class="pull-right">
        <%= link_to_remove_association f do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
