<td class= "text-center">
  <%= t"#{report.style}" %>
</td>
<td class="text-center">
  <%= l report.created_at, format: :short %>
</td>
<% if report.monthly? %>
  <td class = "text-center">
    <%= month_report report.time %>, <%= report.year %>
  </td>
<% elsif report.quarterly? %>
  <td class="text-center">
    <%= quarter_report report.time %>, <%= report.year %>
  </td>
<% end %>
<td class="text-center status">
  <%= t"#{report.status}" %>
</td>
<td class="text-center">
  <%= link_to club_manager_club_statistic_report_path(@club, report), remote: true,
    title: t("info"), class: "btn btn-breez btn-info-report" do %>
    <i class="fa fa-info"></i>
  <% end %>
  <% if can?(:edit, report) && report.pending? %>
    <%= link_to edit_club_manager_club_statistic_report_path(@club, report),
      remote: true,title: t("info"), class: "btn btn-primary btn-info-report" do %>
      <i class="fa fa-edit"></i>
    <% end %>
  <% end %>
</td>
