<tr class="evaluate-<%= evaluate.id %>">
  <td class="text-center">
    <div class="avarta-memeber">
      <%= link_to user_path(evaluate.user.id) do %>
        <%= image_tag evaluate.user_avatar, class: "member-organization-view view-avt-member",
          title: "#{evaluate.user_full_name}" %>
      <% end %>
      <label class="mgr-left-10"><%= evaluate.user_full_name %></label>
    </div>
  </td>
  <td class= "text-center type-name ">
    <%= evaluate.time %>/<%= evaluate.year %>
  </td>
  <td class="text-center">
    <%= l evaluate.created_at, format: :short %>
  </td>
  <td class="text-center">
    <%= evaluate.total_points %>
  </td>
  <td class="text-center">
    <% if can? :read, evaluate %>
      <%= link_to club_manager_evaluate_path(club_id: @club.slug, id: evaluate.id),
        title: t("info"), remote: :true, class: "btn btn-warning btn-bottom-0" do %>
        <i class="fa fa-info"></i>
      <% end %>
    <% end %>
  </td>
</tr>
