<div class="ui-block col-md-12">
  <div class="infor-request ui-block-title">
    <h6 class="title"><%= t ".list_evaluates", name: @club.name %></h6>
    <div class="pull-right funtion-request">
      <%= link_to club_path(@club),
        class: "btn btn-primary btn-sm button-back" do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <%= t "back" %>
      <% end %>
    </div>
  </div>
    <div class="table-responsive">
      <table class="table ui-block table-pricing">
        <thead>
          <tr>
            <th class="text-center"><%= t ".owner" %></th>
            <th class="text-center"><%= t ".time" %></th>
            <th class="text-center"><%= t ".created_at" %></th>
            <th class="text-center"><%= t ".total_point" %></th>
            <th class="text-center"><%= t "action" %></th>
          </tr>
        </thead>
        <tbody id="body-list-evaluates">
          <% if evaluates.any? %>
            <%= render partial: "evaluate", collection: evaluates, as: :evaluate %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <nav aria-label="Page navigation example">
        <%= paginate evaluates, remote: true %>
      </nav>
    </div>
</div>
<div class="modal fade" id="detail-evaluate" role="dialog">
</div>
