<td class= "text-center type-name category-<%= report_category.id %>">
  <div class="form-group edit-type-club margin-bottom-0">
    <%= hidden_field_tag :organization_slug, @organization.slug %>
    <%= text_field_tag :name, report_category.name, required: true,
      class: "form-control input-text text-center" %>
  </div>
</td>
<td class="text-center column-select">
  <div class="toggle-btn <%= get_class_checkbox report_category.obligatory? %>">
    <%= check_box_tag :status, nil, report_category.obligatory? , id: "status_report_category",
      class: "cb-value" %>
    <span class="round-btn"></span>
  </div>
</td>
<td class="text-center">
  <div class="toggle-btn <%= get_class_checkbox report_category.active? %>">
    <%= check_box_tag :status_active, nil, report_category.active?, id: "active_report_category", class: "cb-value" %>
    <span class="round-btn"></span>
</div>
</td>
<td class="text-center">
  <%= report_category.report_details.size %>
</td>
<td class="text-center column-select">
  <%= link_to "#modal-choose-event", data: {toggle: "modal"}, title: t(".choose-style-event"),
    class: "btn btn-primary btn-bottom-0" do %>
    <i class="fa fa-cog"></i>
  <% end %>
  <div id="modal-choose-event" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <%= render partial: "modal_style_event", locals: {report_category: report_category} %>
  </div>
</td>
<td class="text-center">
  <%= button_tag "", title: t("save_chage_type"), value: report_category.id, id: "save-report-category",
    class: "btn btn-breez btn-bottom-0" do %>
    <i class="fa fa-save"></i>
  <% end %>
  <%= link_to report_categories_path(organization_slug: @organization.slug), title: t("undo"), remote: true,
    class: "btn btn-danger btn-bottom-0" do %>
    <i class="fa fa-undo"></i>
  <% end %>
</td>
<%= javascript_include_tag "edit_report_category" %>
<%= javascript_include_tag "check_box" %>
