<%= stylesheet_link_tag "tabs" %>
<div class="ui-block col-md-12">
  <div class="infor-request ui-block-title">
    <ul class="tabs">
      <li class="tab-link current" data-tab="pending">
        <b><%= t "pending" %></b>
      </li>
      <li class="tab-link" data-tab="approved">
        <b><%= t "approved" %></b>
      </li>
      <li class="tab-link" data-tab="rejected">
        <b><%= t "rejected" %></b>
      </li>
    </ul>
    <div class="pull-right funtion-request">
      <%= link_to organization_path(@organization), remote: :true,
        class: "btn btn-primary btn-sm" do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <%= t "back" %>
      <% end %>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="table-responsive">
      <div class="tab-content current" id="pending">
        <% if @sponsors.sponsor_pending.any? %>
          <%= render partial: "list_sponsor",
            locals: {sponsors: @sponsors.sponsor_pending} %>
          <%= paginate @sponsors.sponsor_pending, remote: :true %>
        <% else %>
          <tr class="text-center">
            <td colspan="<%= Settings.colspan_notice_empty %>">
              <h5 class="center notifi-empty"><%= t "edit_member.no_request" %></h5>
            </td>
          </tr>
        <% end %>
      </div>
      <div class="tab-content" id="approved">
        <% if @sponsors.sponsor_accept.any? %>
          <%= render partial: "list_sponsor",
            locals: {sponsors: @sponsors.sponsor_accept} %>
          <%= paginate @sponsors.sponsor_accept, remote: :true %>
        <% else %>
          <tr class="text-center">
            <td colspan="<%= Settings.colspan_notice_empty %>">
              <h5 class="center notifi-empty"><%= t "edit_member.no_request" %></h5>
            </td>
          </tr>
        <% end %>
      </div>
      <div class="tab-content" id="rejected">
        <% if @sponsors.sponsor_reject.any? %>
          <%= render partial: "list_sponsor",
            locals: {sponsors: @sponsors.sponsor_reject} %>
          <%= paginate @sponsors.sponsor_reject, remote: :true %>
        <% else %>
          <tr class="text-center">
            <td colspan="<%= Settings.colspan_notice_empty %>">
              <h5 class="center notifi-empty"><%= t "edit_member.no_request" %></h5>
            </td>
          </tr>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="sponsor-modal" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
  <%= render "statistic_reports/modal" %>
</div>
<div id="modal-note-reject" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
  <%= render "statistic_reports/modal" %>
</div>
<%= javascript_include_tag "tabs" %>
