<div class="col-md-12 col-md-offset-2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-report-detail">
      <div class="modal-header">
        <h4 class="col-md-12 text-center">
          <%= t "sponsors.sponsors" %>
        </h4>
      </div>
      <div class="modal-body">
        <div class="text-center col-md-12">
          <h4 class="title"><%= @sponsor.event.name %></h4>
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12 offset-md-1">
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "sponsors.purpose_of_organization" %>:</strong>
            </h6><br/>
            <span class="sponsor-detail">
              <%= raw(@sponsor.purpose) %>
            </span><br/>
          </div>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "sponsors.organizational_units" %>:</strong>
            </h6><br/>
            <span class="sponsor-detail">
              <%= @sponsor.organizational_units %>
            </span><br/>
          </div>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "sponsors.participating_units" %>:</strong>
            </h6><br/>
            <span class="sponsor-detail">
              <%= @sponsor.participating_units %>
            </span>
          </div>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "sponsors.experience" %>:</strong>
            </h6><br/>
            <span class="sponsor-detail">
              <%= render partial: "sponsors/experience_detail", locals: {experience: @sponsor.experience} %>
            </span><br/>
          </div>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "sponsors.regulations" %>:</strong>
            </h6><br/>
            <span class="sponsor-detail">
              <%= raw(@sponsor.regulations) %>
            </span><br/>
          </div>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "sponsors.prize" %>:</strong>
            </h6><br/>
            <span class="sponsor-detail">
              <%= raw(@sponsor.prize) %>
            </span><br/>
          </div>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "sponsors.expense" %>:</strong>
            </h6><br/>
            <span class="sponsor-detail">
              <%= number_to_currency(@sponsor.expense, locals: :vi) %>
            </span><br/>
          </div>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "sponsors.sponsor" %>:</strong>
            </h6><br/>
            <span class="sponsor-detail">
              <%= number_to_currency(@sponsor.sponsor, locals: :vi) %>
            </span><br/>
          </div>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "sponsors.interest" %>:</strong>
            </h6><br/>
            <span class="sponsor-detail">
              <%= raw(@sponsor.interest) %>
            </span><br/>
          </div>
          <div class="inline-items report-detail">
            <h6 class="title">
              <i class="fa fa-codepen"></i>
              <strong><%= t "sponsors.communication_plan" %>:</strong>
            </h6><br/>
            <span class="sponsor-detail">
              <%= raw(@sponsor.communication_plan) %>
            </span><br/>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= button_tag t("close"), class: "btn btn-sm btn-warning",
          "data-dismiss": "modal" %>
      </div>
    </div>
  </div>
</div>
