<% if category.present? %>
  <% unless category.style_event.blank? %>
    <% service = SetStaticReportService.new @club, category.style_event, params[:q] %>
    <% events = service.load_events %>
    <% if !category.style_event.include?(Event.event_categories[:notification]) %>
      <label for="contact-name"><%= category.name %> *</label>
      <% if events.present? %>
        (<%= l events.first.created_at, format: :short %> - <%= l events.last.created_at, format: :short %>)</br>
        <table class="table ui-block table table-bordered results">
          <thead>
            <tr class="deatil-money-first">
              <th colspan="5">
                <%= t "money_first" %>
                <%= number_to_currency(events.first.amount, locale: :vi) %>
              </th>
            </tr>
            <tr>
              <th class="table-paymoney"><%= t "report_categories.report_category.get_money" %></th>
              <th class="table-paymoney"><%= t "report_categories.report_category.pay_money" %></th>
              <th class="table-paymoney"><%= t "surplus" %></th>
              <th class="table-content"><%= t "content" %></th>
              <th><%= t "time_report" %></th>
            </tr>
          </thead>
          <tbody>
            <% moneys = LastMoney.new events %>
            <% events.each do |event| %>
              <tr>
                <td class="check-user">
                  <% unless event.pay_money? || event.notification? %>
                    <%= number_to_currency(money_expense(event), locale: :vi) %>
                  <% end %>
                </td>
                <td>
                  <% if event.pay_money? %>
                    <%= number_to_currency(event.expense, locale: :vi) %>
                  <% end %>
                </td>
                <td><%= event.amount + LastMoney.last_money(event)%></td>
                <td>
                  <%= raw(event.description) %>
                </td>
                <td><%= l event.created_at, format: :short %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="5" class="text-center">
                <%= t "money_last" %>:
                <%= number_to_currency(moneys.surplus(events.first.amount), locale: :vi) %>
              </td>
            </tr>
          </tbody>
        <% else %>
          <%= t "update_events_report" %><br/>
        <% end %>
      </table>
    <% else %>
      <label for="contact-name"><%= category.name %> *</label>
      <% if events.present? %>
        (<%= l events.first.created_at, format: :short %> - <%= l events.last.created_at, format: :short %>)</br>
        <table class="table ui-block table-bordered results">
          <thead>
            <tr>
              <th class="table-paymoney"><%= t "time_report" %></th>
              <th><%= t "name" %></th>
              <th class="table-content"><%= t "content" %></th>
            </tr>
          </thead>
          <tbody>
            <% events.each do |event| %>
              <tr>
                <td><%= l event.created_at, format: :short %></td>
                <td class="check-user">
                  <%= event.name %>
                </td>
                <td>
                  <%= raw(event.description) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <%= t "update_events_report" %>
      <% end %>
    <% end %>
  <% else %>
    <div class="nested-fields">
      <div class="form-group row">
        <div class="form-group label-floating col-md-3">
          <label for="contact-name"><%= category.name %> *</label></br>
          <%= f.hidden_field :report_category_id, value: category.id %>
        </div>
        <div class="form-group label-floating col-md-8 push-md-1">
          <%= f.label(:detail, class: "control-label") do %>
            <%= t(".detail_report") %>
            <span class="text-danger">*</span>
          <% end %>
          <%= f.hidden_field :style, value: :other %>
          <%= f.text_area :detail, class: "form-control", required: true %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
