<%= form_for @statistic_report, html: {id: "form-contact"}, remote: true do |f|%>
  <div class="col-md-12">
    <div class="form-group row">
      <div class="col-md-3">
        <label for="contact-name"><%= t "type_report" %></label></br>
        <%= f.select(:style, options_for_select(option_select(
          StatisticReport.styles), params[:q][:style]),
          {}, {class: "form-control select_custom"}) %>
      </div>
      <% if params[:q][:style].to_i == StatisticReport.styles[:monthly] %>
        <div class="col-md-3 push-md-1 month">
          <label for="contact-name"><%= t "month" %></label></br>
          <%= select_tag "month", options_for_select(option_select(
            StatisticReport.months), params[:q][:month]), class: "form-control select_custom" %>
        </div>
      <% else %>
        <div class="col-md-3 push-md-1 quarter">
          <label for="contact-name"><%= t "quarter" %></label></br>
          <%= select_tag "quarter", options_for_select(
            option_select(StatisticReport.quarters), params[:q][:quarter]),
            class: "form-control select_custom" %>
        </div>
      <% end %>
      <div class="col-md-3 push-md-2 year">
        <label for="contact-name"><%= t "year" %></label></br>
        <%= select_year(params[:q][:date_year].to_i, {start_year: Settings.year_ago.years.ago.year,
          end_year: Date.current.year}, {class: "select_custom form-control stype-reports"}) %>
      </div>
    </div>
  </div>
  <div class="form-group col-md-12" id="detail-report-field-new">
    <% @report_categories.obligatory.each do |category|%>
      <%= f.fields_for :report_details do |ff| %>
        <%= render partial: "field_for_category_obligatory", locals: {f: ff, category: category} %>
      <% end %>
    <% end %>
    <div class="form-group col-md-12", id="button-add-fields-new-form">
      <%= link_to_add_association t("add"), f, :report_details,
        class: "btn btn-breez pull-right" %>
    </div>
  </div>
  <div class="form-group col-md-12">
    <div class="form-group label-floating">
      <%= f.label(:plan_next_month, class: "control-label") do %>
        <%= t("plan_next_month") %>
        <span class="text-danger">*</span>
      <% end %>
      <%= f.text_area :plan_next_month, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group col-md-12">
     <div class="form-group label-floating">
      <%= f.label(:note, t("note"), class: "control-label") %>
      <%= f.text_area :note, class: "form-control",
        row: Settings.club_request.row_text_area %>
    </div>
  </div>
  <div class="form-group col-md-12">
    <div class="form-group label-floating">
      <%= f.label(:others, t("others"), class: "control-label") %>
      <%= f.text_area :others, class: "form-control", id: "contact-message",
        row: Settings.club_request.row_text_area %>
    </div>
  </div>
  <%= f.hidden_field :club_id, value: @club.id %>
  <div class="error-messages"></div>
  <div class="form-group center">
    <%= f.submit t("report"), class: "btn btn-primary full-width col-md-2" %>
  </div>
<% end %>
