<label for="contact-name"><%= category.name %> *</label></br>
<% if events.present? %>
  <% if events.first.date_end %>
    (<%= l events.first.date_end.beginning_of_month, format: :short %> - <%= l events.last.date_end.end_of_month, format: :short %>)</br>
  <% else %>
    (<%= l events.first.created_at, format: :short %> - <%= l events.last.created_at, format: :short %>)</br>
  <% end %>
  <table class="table ui-block table table-bordered results">
    <thead>
      <tr class="deatil-money-first">
        <th colspan="5">
          <%= t "money_first" %>
          <%= number_to_currency(events.first.amount, locale: :vi) %>
        </th>
      </tr>
      <tr>
        <th class="table-paymoney"><%= t "time_report" %></th>
        <th class="table-paymoney"><%= t "report_categories.report_category.get_money" %></th>
        <th class="table-paymoney"><%= t "report_categories.report_category.pay_money" %></th>
        <th class="table-paymoney"><%= t "surplus" %></th>
        <th class="table-content"><%= t "content" %></th>
      </tr>
    </thead>
    <tbody>
      <% moneys = LastMoney.new events %>
      <% events.each do |event| %>
        <tr>
          <% if event && event.date_end %>
            <td><%= l event.date_end, format: :short %></td>
          <% else %>
            <td><%= l event.created_at, format: :short %></td>
          <% end %>
          <td class="check-user">
            <% unless event.pay_money? || event.notification? %>
              <%= number_to_currency(money_expense(event), locale: :vi) %>
            <% end %>
          </td>
          <td>
            <% if event.pay_money? %>
              <%= number_to_currency(event.expense, locale: :vi) %>
            <% end %>
          </td>
          <td>
            <% if event.expense.present? %>
              <%= number_to_currency(event.amount + LastMoney.last_money(event).to_i, locale: :vi) %>
            <% else %>
              <%= number_to_currency(event.amount, locale: :vi ) %>
            <% end %>
          </td>
          <td>
            <%= raw(event.description) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="5">
          <strong>
            <%= t "money_last" %>:
            <%= number_to_currency(moneys.surplus(events.first.amount), locale: :vi) %>
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <%= t "update_events_report" %><br/>
<% end %>
