<label for="contact-name"><%= category.name %> *</label></br>
<% if events.present? %>
  <% if events.first.date_end %>
    (<%= l events.first.date_end.beginning_of_month, format: :short %> - <%= l events.last.date_end.end_of_month, format: :short %>)</br>
  <% else %>
    (<%= l events.first.created_at, format: :short %> - <%= l events.last.created_at, format: :short %>)</br>
  <% end %>
  <table class="table ui-block table-bordered results">
    <thead>
      <tr>
        <th class="table-paymoney"><%= t "time_report" %></th>
        <th><%= t "name" %></th>
        <th class="table-content"><%= t "content" %></th>
        <th class="table-paymoney"><%= t "club_manager.event.joined" %></th>
      </tr>
    </thead>
    <tbody>
      <% events.each do |event| %>
        <tr>
          <% if events.first.date_end %>
            <td><%= l event.date_end, format: :short %></td>
          <% else %>
            <td><%= l event.created_at, format: :short %></td>
          <% end %>
          <td class="check-user">
            <%= event.name %>
          </td>
          <td>
            <%= raw(event.description) %>
          </td>
          <td>
            <ul class="<%= "scroll-user-event" if is_size_more_eight?(event) %>">
              <% event.user_events.each do |user_event| %>
                <li><%= user_event.user_full_name %></li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= t "update_events_report" %></br>
<% end %>
