<label for="contact-name"><%= category.name %> *</label></br>
<% if events.present? %>
  <% if events.first.date_end %>
    (<%= l events.first.date_end.beginning_of_month, format: :short %>
    - <%= l events.last.date_end.end_of_month, format: :short %>)</br>
  <% else %>
    (<%= l events.first.created_at, format: :short %> - <%= l events.last.created_at, format: :short %>)</br>
  <% end %>
  <table class="table ui-block table table-bordered results">
    <thead>
      <tr class="deatil-money-first">
        <th colspan="5">
          <%= t "money_first" %>
          <%= number_to_currency(events.first.amount, locale: :vi) %>
        </th>
      </tr>
      <tr>
        <th class="table-paymoney"><%= t "time_report" %></th>
        <th class="table-paymoney"><%= t "event_name" %></th>
        <th class="table-paymoney"><%= t "amount_for" %></th>
        <th class="table-paymoney"><%= t "surplus" %></th>
        <th class="table-content"><%= t "content" %></th>
      </tr>
    </thead>
    <tbody>
      <% moneys = LastMoney.new events %>
      <% events.each do |event| %>
        <tr>
          <td><%= l event.date_end, format: :short %></td>
          <td><%= event.name %></td>
          <td class="check-user text-center">
            <%= number_to_currency(LastMoney.last_money(event).to_i, locale: :vi) %>
            <% if event.event_details.present? %>
              <%= link_to "#detail-pay-#{event.id}", data: { toggle: :collapse },
                title: t("click_to_show") do %>
                <i class="fa fa-eye"></i>
              <% end %>
              <%= render partial: "events/event_detail", locals: {event: event} %>
            <% end %>
          </td>
          <td>
            <% if event.expense.present? %>
              <%= number_to_currency(event.amount + LastMoney.last_money(event).to_i, locale: :vi) %>
            <% else %>
              <%= number_to_currency(event.amount, locale: :vi ) %>
            <% end %>
          </td>
          <td>
            <%= raw(event.description) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="5">
          <strong>
            <%= number_to_currency(moneys.surplus(events.first.amount), locale: :vi) %>
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <%= t "update_events_report" %><br/>
<% end %>
