<div class="ui-block col-md-12">
  <div class="infor-request ui-block-title">
    <h6 class="title"><%= t ".title" %></h6>
    <div class="pull-right funtion-request">
      <%= link_to "#new-criteria", data: {toggle: :collapse},
        class: "btn btn-breez btn-sm" do %>
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <%= t ".new_criteria" %>
      <% end %>
      <%= link_to organization_path(@organization), remote: :true,
        class: "btn btn-primary btn-sm button-back" do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <%= t "back" %>
      <% end %>
    </div>
  </div>
  <div id="new-criteria" class="collapse">
    <div class="infor-request ui-block-title">
      <%= render "form_new_criteria" %>
    </div>
  </div>
  <% if criterias.any? %>
    <div class="table-responsive">
      <table class="table ui-block table-pricing">
        <thead>
          <tr>
            <th class="text-center"><%= t "name_club_type" %></th>
            <th class="text-center"><%= t "date_club_type" %></th>
            <th class="text-center"><%= t "sum_club" %></th>
            <th class="text-center"><%= t "action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "criteria", collection: criterias, as: :criteria %>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <nav aria-label="Page navigation example">
        <%= paginate criterias, remote: true %>
      </nav>
    </div>
  <% else %>
    <div class="row text-center">
      <h5 class="center notifi-empty"><%= t ".no_criteria" %></h5>
    </tr>
  <% end %>
</div>
