<div class="block">
  <h1><%= t "detail_request" %></h1>
  <p><%= link_to t("back"),
    dashboard_organization_path(id: @request.organization_id),
    class: "btn btn-default" %></p>
  <div class="center"><%= image_tag @request.logo,
    class: "circle-profile" %></div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "club_request.name" %></strong>
    </div>
    <div class="col-md-7 center"><%= @request.name %></div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "user_request" %></strong>
    </div>
    <div class="col-md-7 center"><%= @request.user.full_name %></div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "date_request" %></strong>
    </div>
    <div class="col-md-7 center">
      <%= l @request.created_at, format: :short %>
    </div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "content_club" %></strong>
    </div>
    <div class="col-md-7 center"><%= @request.content %></div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "goal_club" %></strong>
    </div>
    <div class="col-md-7 center"><%= @request.goal %></div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "plan" %></strong>
    </div>
    <div class="col-md-7 center"><%= @request.plan %></div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "member_count" %></strong>
    </div>
    <div class="col-md-7 center"><%= @request.member %></div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "rules_club" %></strong>
    </div>
    <div class="col-md-7 center"><%= @request.rules %></div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "local_club" %></strong>
    </div>
    <div class="col-md-7 center"><%= @request.time_join %></div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "rule_finance" %></strong>
    </div>
    <div class="col-md-7 center"><%= @request.rule_finance %></div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "punishment" %></strong>
    </div>
    <div class="col-md-7 center"><%= @request.punishment %></div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "time_club" %></strong>
    </div>
    <div class="col-md-7 center">
      <% @request.time_activity.each do |time|%>
        - <%= time %></br>
      <% end %>
    </div>
  </div><hr>
  <div class="row">
    <div class="col-md-5">
      <strong class="pull-right"><%= t "status" %></strong>
    </div>
    <div class="col-md-7 center">
      <%= link_to t("active"),
        dashboard_request_club_path(id: @request,
        status: ClubRequest.statuses[:joined],
        organization: @request.organization.id), method: :put, class: "btn btn-primary",
        data: {confirm: t("answer_active_club")} %>
      <%= link_to t("reject"),
        dashboard_request_club_path(id: @request,
        status: ClubRequest.statuses[:reject],
        organization: @request.organization.id), method: :put, class: "btn btn-danger",
        data: {confirm: t("answer_reject_club")} %>
    </div>
  </div><hr>
</div>
