<div class="label-avatar bg-primary">
  <span class="size_unread">
    <% notifications = notifications_result %>
    <%= size_notification(notifications) if notifications %>
  </span>
</div>

<div class="more-dropdown more-with-triangle triangle-top-center">
  <div class="ui-block-title ui-block-title-small">
    <h6 class="title"><%= t "notifications" %></h6>
      <%= link_to notification_path(current_user.id), class: "tick", method: :put, remote: true do %>
        <%= t("all_read") %>
      <% end %>
  </div>
  <div class="mCustomScrollbar notification_custom" data-mcs-theme="dark">
    <ul class="notification-list">
      <%= render partial: "notifications/notification",
        locals: {notifications: notifications} %>
    </ul>
  </div>
  <div class="text-center show-all-title">
    <%= link_to t("show_all"), notifications_path %>
  </div>
</div>
