<div class="tz-gallery">
  <div class="row">
    <% if @videos.present? %>
      <% @videos.each do |video| %>
        <div class="col-sm-12 col-md-2 portfolio-item video-<%= video.id %>"
          data-category="">
          <%= link_to "#modal-video-#{video.id}", data: {toggle: "modal"},
            class: "list-image lightbox" do  %>
            <% if video.image_file.present? %>
              <%= image_tag video.image_file, class: "centered-and-cropped" %>
            <% end %>
          <% end %>
          <% if can? :delete, video %>
            <div class="middle">
              <div class="delete-img">
                <%= link_to club_album_video_path(id: video.id,
                  club_id: @club.id, album_id: @album.id), title: t("delete"),
                  method: :delete, remote: :true,
                  data: {confirm: t("club_manager.video.confirm_delete")} do %>
                    <i class="fa fa-window-close"></i>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="middle-icon-play">
            <div class="play-video">
              <%= link_to "#modal-video-#{video.id}" do  %>
                <i class="fa fa-play-circle"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div id="modal-video-<%= video.id %>" class="modal fade modal-video" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="pull-right ">
                <%= button_tag type: "button", class: "icon-close-video close", data: {dismiss: "modal"} do %>
                  &times;
                <% end %>
              </div>
              <div class="modal-body">
                <%= video_tag video.video_file, controls: true, class: "iframe-video", id: "video-#{video.id}" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="text-center col-md-12">
        <h5><%= t ".no_video" %></h5>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "upload_video" %>
