<section class="site-comment event-comment">
  <div class="container">
    <div class="row">
      <div class="col-md-12 site-block">
        <div class="ui-block-title">
          <h6 class="title col-md-1 title-block"><%= t "comments.comment" %></h6>
        </div>
        <ul class="comments-list">
          <%= render partial: "events/list_comment", locals: {comments: comments} %>
        </ul>
        <% if event.comments.size > Settings.limit_comments && comments.size == Settings.limit_comments %>
          <%= link_to t("view_all"), club_event_path(comment_status: "all"),
            class: "btn btn-xs btn-primary", remote: true %>
        <% elsif event.comments.size > Settings.limit_comments && comments.size > Settings.limit_comments %>
          <%= link_to t("view_less"), club_event_path(comment_status: "less"),
            class: "btn btn-xs btn-primary", remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%= render "new_comment" %>
