<% if current_user.user_clubs.joined.of_club(@club) %>
  <% if events.any? %>
    <table class="event-item-table">
      <tbody>
        <% if events.first.activity_money? && tab_activity %>
          <%= render partial: "event_notifications/list_activity", locals: {events: events} %>
        <% elsif events.first.notification? && tab_activity %>
          <%= render partial: "event_notifications/list_notification", locals: {events: events} %>
        <% else %>
          <%= render partial: "events/view_list_event", locals: {events: events} %>
        <% end %>
      </tbody>
    </table>
    <div class="col-md-12 text-center">
      <% if tab_activity %>
        <% if events.first.activity_money? %>
          <%= paginate events, params: {controller: "event_notifications", action: "show",
            club_id: @club.id, category: Event.event_categories[:activity_money]}, remote: true %>
        <% elsif events.first.notification? %>
          <%= paginate events, params: {controller: "event_notifications", action: "show",
            club_id: @club.id, category: Event.event_categories[:notification]}, remote: true %>
        <% end %>
      <% else %>
        <%= paginate events, remote: true %>
      <% end %>
    </div>
  <% else %>
    <h5 class="notifi-join text-center"><%= t "no_event" %></h5>
  <% end %>
<% else %>
  <h5 class="notifi-join text-center"><%= t "join_to_see" %></h5>
<% end %>
