<div class="collapse" id="detail-pay-<%= event.id %>">
  <table class="table ui-block table table-bordered results collapse" id="detail-pay-<%= event.id %>">
    <tr>
      <th><%= t "content" %></th>
      <th><%= t "report_categories.report_category.get_money" %></th>
      <th><%= t "report_categories.report_category.pay_money" %></th>
    </tr>
    <% event.event_details.each do |event| %>
      <tr>
        <td><%= event.description %></td>
        <td>
          <% if event.get? %>
            <%= event.money %>
          <% end %>
        </td>
        <td>
          <% if event.pay? %>
            <%= event.money %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div> 