<% if current_user.user_clubs.joined.of_club(@club) %>
  <% if events.any? %>
    <table class="event-item-table">
      <tbody>
        <%= render partial: "events/view_list_event", locals: {events: events} %>
      </tbody>
    </table>
    <div class="col-md-12 text-center">
      <% if events.first.notification? %>
        <%= paginate events, params: {controller: "event_notifications", action: "show", club_id: @club.id}, remote: true %>
      <% else %>
        <%= paginate events, remote: true %>
      <% end %>
    </div>
  <% else %>
    <h5 class="notifi-join text-center"><%= t "no_event" %></h5>
  <% end %>
<% else %>
  <h5 class="notifi-join text-center"><%= t "join_to_see" %></h5>
<% end %>
