<%= form_for [@club, @event],
  html: {multipart: true, enctype: "multipart/form-data",
  class: "form-horizontal form-bordered edit-organization"} do |f| %>
  <%= f.hidden_field :club_id, value: @club.id %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="example-text-input">
      <%= t "club_manager.event.type" %>
      <span class="text-danger">*</span>
    </label>
    <div class="col-md-12">
      <%= f.select(:event_category, options_for_select(category_event,
        if @event.present?
          {selected: Event.event_categories[@event.event_category]}
        end), {},
        class: "form-control") %>
    </div>
  </div>
  <div class="form-group col-md-12">
    <%= f.label(:name, class: "control-label") do %>
      <%= t("name") %>
      <span class="text-danger">*</span>
    <% end %>
    <%= f.text_field :name, class: "form-control input-text",
      placeholder: t("club_manager.event.event_name"), required: true %>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="example-text-input">
      <%= t "club_manager.event.status" %>
    </label>
    <div class="row">
      <%= f.radio_button :status, Settings.inprocess, class: "radio col-md-1", checked: @event.inprocess? %>
      <%= f.label :status_in_procress, t("inprocess"), class: "col-md-3 label-status" %>
      <%= f.radio_button :status, Settings.finished, class: "radio col-md-1", checked: @event.finished? %>
      <%= f.label :status_finished, t("finished"), class: "col-md-3 label-status" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label label-check" for="example-text-input">
      <%= t "style_event.event_public" %>
    </label>
    <div class="toggle-btn <%= get_class_checkbox @event.is_public? %>">
      <%= f.check_box :is_public, class: "cb-value", checked: @event.is_public %>
      <span class="round-btn"></span>
    </div>
  </div>
  <div class="form-group col-md-12 expense_details hide-div" id="expense_details">
    <% @event.event_details.build %>
    <div class="row" id="add_field_detail">
      <label class="col-md-1 col-xl-2 label-detail"><%= t("detail_event") %></label>
      <%= link_to_add_association f, :event_details,
        partial: "event_details/event_detail_fields", class: "btn btn-breez btn-sm button-add-detail col-md-1" do %>
        <i class="fa fa-plus"></i>
      <% end %>
    </div>
    <%= f.fields_for :event_details do |detail| %>
      <div class="nested-fields full-width">
        <div class="row">
          <div class="col-md-5">
            <%= detail.text_field :description, class: "form-control input-text",
              placeholder: t("club_manager.event.description") %>
          </div>
          <div class="col-md-5 push-md-1">
            <%= detail.text_field :money, class: "form-control input-text money-input",
              placeholder: t("club_manager.event.expense_holder"), required: true %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="form-group col-md-12 expense">
    <label id="get_money_member" class="hide-div"><%= t("amount_member") %></label>
    <label id="subsidy" class="hide-div"><%= t("amount_for") %></label>
    <% if @event.present? && @event.notification? %>
      <%= f.hidden_field :expense, value: nil %>
    <% else %>
      <%= f.label(:expense, class: "control-label", id: "label-expense") do %>
        <%= t("amount_for") %>
      <% end %>
      <%= f.text_field :expense, class: "form-control input-text",
        placeholder: t("club_manager.event.expense_holder"), required: true %>
    <% end %>
  </div>
  <div class="form-group col-md-12">
    <%= f.label(:location, class: "control-label") do %>
      <%= t("location") %>
    <% end %>
    <%= f.text_field :location, class: "form-control input-text",
      placeholder: t("club_manager.event.location_holder") %>
  </div>
  <div class="form-group col-md-12">
    <label class="col-md-3 control-label">
      <%= t "club_manager.event.start" %>
    </label>
    <div class="col-md-12">
      <div class="form-group row" data-date-format="dd/mm/yyyy">
        <%= f.text_field :date_start, value: format_date(Date.current),
          class: "form-control text-center input-text col-md-5 datepicker white-bgr", readonly: true %>
        <span class="text-center col-md-2">
          <h3><i class="fa fa-angle-right"></i></h3>
        </span>
        <%= f.text_field :date_end, value: format_date(Date.current),
          class: "form-control text-center input-text col-md-5 pull-right datepicker white-bgr", readonly: true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="example-file-input">
      <%= t "club_manager.event.image" %>
    </label>
    <div class="col-md-12">
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label label-check" for="example-text-input">
      <%= t "form_club_event.album" %>
    </label>
    <div class="toggle-btn col-md-1">
      <%= check_box_tag "create_albums", Settings.value_default_check_box, check_albums(@event),
        disabled: check_action_and_albums(params[:action], @event), class: "cb-value" %>
      <span class="round-btn"></span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="example-textarea-input">
      <%= t "description" %>
    </label>
    <div class="col-md-12">
      <%= f.cktext_area :description, rows: Settings.new_description,
        class: "form-control",
        placeholder: t("club_manager.event.description") %>
    </div>
  </div>
  <div class="form-group form-actions">
    <div class="col-md-12 text-center">
      <%= f.submit t("submit"), class: "btn btn-sm btn-primary col-md-2" %>
      <%= button_tag t("reset"), type: :reset,
        class: "btn btn-sm btn-warning col-md-2" %>
    </div>
  </div>
<% end %>
<%= javascript_include_tag "check_box" %>
