<div class="modal-dialog ui-block window-popup event-private-public private-event custom_budget_popup">
  <div class="ui-block">
    <div class="ui-block-title ui-block-title-small">
      <h6 class="title text-center">
        <i class="fa fa-check" aria-hidden="true"></i>
        <%= t("done_budget") %>
      </h6>
    </div>
    <div class="table-responsive">
      <table class="event-item-table table table-vcenter datatable-public table-condensed table-bordered sort-bubget">
        <thead>
          <tr>
            <th><%= t "name" %></th>
            <th><%= t "email" %></th>
            <% if @club.is_admin? current_user %>
              <th class="text-center"><%= t "action" %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% if @members_done.any? %>
            <% @members_done.each do |user| %>
              <tr>
                <td><%= link_to user.full_name, user_path(user.id), target: :blank %></td>
                <td><%= user.email %></td>
                <% if @club.is_admin? current_user %>
                  <td class="text-center">
                    <%= link_to club_manager_club_club_budget_path(
                      user_id: user.id,event_id: @event.id ), method: :delete,
                      data: {confirm: t("confirm_delete_budget")}, title: t("delete") do %>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3">
                <h6 class="center notifi-empty"><%= t "empty" %></h6>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
