<div class="col-md-12 col-md-offset-2">
  <div class="modal-dialog edit-club modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center"><%= t "title_modal_new_post" %></h4>
      </div>
      <div class="modal-body">
        <section class="site-content">
          <div class="container">
            <div class="row">
              <div class="col-md-12 site-block">
                <div class="media-body media-comment">
                  <%= form_for post, class: "post-form inline-items", remote: status_remote_by_params_action(params[:action]) do |f| %>
                    <div class="form-group">
                      <%= hidden_field_tag :event_id, event.id %>
                      <%= f.label(:name, class: "control-label label-bold") do %>
                        <%= t("posts.name") %>
                        <span class="text-danger">*</span>
                      <% end %>
                      <%= f.text_field :name, class: "form-control input-text-custom",
                        placeholder: t("posts.name_post"), required: true %></br>
                      <%= f.label(:name, class: "control-label label-bold") do %>
                        <%= t("posts.content") %>
                        <span class="text-danger">*</span>
                      <% end %>
                      <%= f.cktext_area :content, class: "form-control text-area-post",
                        id: "profile-newsfeed-post", rows: 4, required: :true,
                        placeholder: t("your_comment") %>
                      <%= f.hidden_field :target_id, value: event.id %>
                      <%= f.hidden_field :target_type, value: event.class %>
                      <%= f.submit text_button(params[:action]),
                        class: "btn btn-breez col-md-2 text-center pull-right commen" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="push"></div>
        </section>
      </div>
    </div>
  </div>
</div>
