<% if posts.any? %>
  <% posts.each do |post| %>
    <div class="content-posts">
      <div class="row">
        <div class="col-md-1 avarta-memeber">
          <%= link_to user_path(post.user_id) do %>
            <%= image_tag post.user_avatar, class: "notification-owner",
              title: "#{post.user_full_name}" %>
          <% end %>
        </div>
        <div class="col-md-11">
          <div class="post-meta d-flex align-items-center flex-wrap">
            <%= link_to user_path(post.user_id), class: "link_user mr-05" do %>
              <%= post.user_full_name %>
            <% end %>
            <div class="text-muted">
              <i class="fa fa-clock-o time_create" aria-hidden="true"></i>
              <span><%= t "posts.posted", time: time_ago_in_words(post.created_at, locale: :en) %></span>
            </div>
          </div>
          <div class="content">
            <%= link_to post.name, post_path(post), class: "author-name h5 link_notification" %></br>
            <% if post.content.present? %>
              <div id="content-truncate-<%= post.id %>">
                <%= raw(post.content.truncate(Settings.description_event, separator: " ")) %>
                <% if raw(post.content).length > Settings.description_event %>
                  <%= link_to "", data: {post: post.id},
                    title: t("show_more_descrip"), class: "show-more" do %>
                    <%= t "show_more_descrip" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <div class="hide-div" id="content-<%= post.id %>">
              <%= raw(post.content) if (raw(post.content).length > Settings.description_event) %>
              <% if post.post_galleries.present? %>
                <div id="page-container">
                  <section class="site-content site-section">
                    <div class="container">
                      <div class="row portfolio">
                        <div class="tz-gallery list-gellary">
                          <div class="row">
                            <% post.post_galleries.each do |image| %>
                              <div class="portfolio-item img-<%= image.id %>"
                                data-category="">
                                <%= link_to "#{image.url}", class: "list-image lightbox" do  %>
                                  <%= image_tag image.url, class: "centered-and-cropped" %>
                                <% end %>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div id="view-more" class="hide-div">
    <%= paginate posts, remote: true, params: {controller: "posts", action: "index", event_id: @event.id} %>
  </div>
<% end %>
<%= javascript_include_tag "images", "data-turbolinks-track" => true  %>
