<div class="header-spacer header-spacer_custom"></div>
<div class="container">
  <div class="row">
    <div class="col-xl-12 push-xl-0 col-lg-12 push-lg-0 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <article class="hentry post has-post-thumbnail thumb-full-width private-event">
          <div class="row">
            <div class="col-md-2 confirm-donate">
              <%= link_to club_path(@club), title: t("back"),
                class: "btn btn-sm btn-primary" do %>
                <i class="fa fa-arrow-left"></i>
              <% end %>  
            </div>
            <div class="col-md-8">
              <div class="block-title">
                <h3 class="text-center"><strong><%= @club.name %></strong></h3>
              </div>
              <%= render "form_club_event" %>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "event" %>
<%= javascript_include_tag "money_format" %>
<%= include_gon %>
