<div class="header-spacer header-spacer_custom"></div>
<div class="container">
  <div class="row">
    <div class="col-xl-12 push-xl-0 col-lg-12 push-lg-0 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <article class="hentry post has-post-thumbnail thumb-full-width private-event">
          <div class="private-event-head inline-items">
            <div class="author-date">
              <a class="h3 event-title" href="#">
                <% if @event.notification? || @event.activity_money? %>
                  <i class="fa fa-bell"></i>
                <% else %>
                  <i class="fa fa-money"></i>
                <% end %>
                <%= @event.name %>
              </a>
              <div class="event__date">
                <time class="published" datetime="<%= l @event.created_at, format: :short %>">
                  <%= l @event.created_at, format: :short %>
                </time>
                <div class="confirm-donate">
                  <%= link_to club_path(@club), title: t("back"), class: "btn btn-sm btn-primary" do %>
                    <i class="fa fa-arrow-left"></i>
                  <% end %>
                  <% if @club.is_admin?(current_user) && @event.by_user?(current_user) %>
                    <%= link_to edit_club_event_path(@club, @event, event_category: @event.event_category),
                      title: t("edit"), class: "btn btn-sm btn-breez" do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="pull-right">
              <% case when @event.activity_money? %>
                <% if @club.is_admin?(current_user) %>
                  <div class="row">
                    <% if @event.sponsors.blank? %>
                      <%= link_to new_club_event_sponsor_path(@club, @event),
                        class: "btn btn-sm btn-breez new-sponsor" do %>
                        <i class="fa fa-plus"></i>
                        <%= t "sponsors.new_sponsor" %>
                      <% end %>
                    <% else %>
                      <%= link_to edit_club_event_sponsor_path(@club, @event, @event.sponsor_ids),
                        class: "btn btn-sm btn-breez new-sponsor" do %>
                        <i class="fa fa-pencil"></i>
                        <%= t "edit" %>
                      <% end %>
                      <%= link_to club_event_sponsor_path(@club, @event, @event.sponsor_ids),
                        class: "btn btn-sm btn-breez new-sponsor", method: :delete do %>
                        <i class="fa fa-remove"></i>
                        <%= t "delete" %>
                      <% end %>
                    <% end %>
                    <%= render "user_events/join_event_toggle" %>
                  </div>
                <% end %>
              <% when @event.get_money_member? %>
                <%= link_to t("get_money"), "#collapse1", data: {toggle: "collapse"},
                  class: "btn btn-blue btn-sm" %>
              <% when @event.donate? %>
                <%= link_to t("donate.donate"), new_club_event_donate_path(@club, @event),
                  remote: :true, class: "btn btn-blue btn-sm" %>
                <div id="modal-add-user" class="modal fade" tabindex="-1"
                  role="dialog" aria-hidden="true">
                  <%= render "donates/form_donate_event" %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="place inline-items">
            <%= image_tag @event.user_avatar, class: "member-organization-view" %><span>
            <span class="h6 author-event"><%= @event.user_full_name %></trong></span>
          </div>
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <%= image_tag @event.image, class: "img-responsive full_image event-image centered-and-cropped" %>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <div class="event-description">
                <h6 class="event-description-title"><%= t "info_event" %></h6>
                <div class="place inline-items">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span><%= @event.location %></span>
                </div>
                <div class="place inline-items">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span>
                    <% if @event.date_start.present? %>
                      <%= l @event.date_start, format: :short %>
                    <% end %>
                  </span>
                  <span>
                    <% if @event.date_end.present? %>
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                      <%= l @event.date_end, format: :short %>
                    <% end %>
                  </span>
                </div>
                <div class="place inline-items">
                  <i class="fa fa-bullhorn" aria-hidden="true"></i>
                  <span>
                    <% if @event.inprocess? %>
                      <%= t("inprocess") %>
                    <% else %>
                      <%= t("finished") %>
                    <% end %>
                  </span>
                </div>
                <div class="place inline-items">
                  <i class="fa fa-money" aria-hidden="true"></i>
                  <span class="total_money"><%= number_to_currency(@event.expense, locals: :vi) %></span>
                </div>
                <% if @event.activity_money? %>
                  <h6 class="event-description-title"><%= t "club_manager.event.joined" %></h6>
                  <div class="row">
                    <% @event.user_events.each do |user_event| %>
                      <div class="col-md-1 avarta-memeber">
                        <%= link_to user_path(user_event.user_id) do %>
                          <%= image_tag user_event.user.avatar, class: "member-organization-view",
                            title: "#{user_event.user.full_name}" %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <% if @event.is_public %>
                  <div class="place inline-items">
                    <%= social_share_button_tag @event.name, desc: @event.description, image: @event.image %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <% if @event.description.blank? %>
            <h5 class="text-center">
              <strong><%= t "no_description" %></strong>
            </h5>
          <% else %>
            <p><%= raw(@event.description) %></p>
          <% end %>
          <% case when @event.get_money_member? %>
            <div class="content-event col-md-12 site-block border panel-collapse collapse"
              id="collapse1">
              <%= render partial: "view_get_money" %>
            </div>
          <% when @event.donate? %>
            <div class="content-donate col-md-12">
              <%= render partial: "view_donate", locals: {donates: @event.donate.newest} %>
            </div>
          <% end %>
          <div class="comment-post">
            <div class="row">
              <div class="col-md-8">
                <ul class="profile-menu tab_list_detail_club">
                  <li>
                    <%= link_to t("comment"), "#comment", class: "active" %>
                  </li>
                  <li>
                    <%= link_to t("post"), "#post" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class = "tab_detail_club">
            <div class="ui-block" id="comment">
              <%= render partial: "events/comment", locals: {comments: @comments, event: @event} %>
            </div>
            <div class="ui-block" id="post">
              <%= render partial: "events/post", locals: {posts: @posts} %>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
