<div class="ui-block col-md-12">
  <div class="infor-request ui-block-title">
    <h6 class="title"><%= t ".list_evaluates", name: @club.name %></h6>
    <div class="pull-right funtion-request">
      <%= link_to new_club_evaluate_path(club_id: @club.slug), remote: true,
        class: "btn btn-breez btn-sm" do %>
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <%= t ".create_evaluate" %>
      <% end %>
      <%= link_to organization_path(@club.organization, club: :true), remote: :true,
        class: "btn btn-primary btn-sm button-back" do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <%= t "back" %>
      <% end %>
    </div>
  </div>
  <div class="modal fade" id="new-evaluate" role="dialog">
  </div>
    <div class="table-responsive">
      <table class="table ui-block table-pricing">
        <thead>
          <tr>
            <th class="text-center"><%= t ".time" %></th>
            <th class="text-center"><%= t ".created_at" %></th>
            <th class="text-center"><%= t ".total_point" %></th>
            <th class="text-center"><%= t "action" %></th>
          </tr>
        </thead>
        <tbody id="body-list-evaluates">
          <% if evaluates.any? %>
            <%= render partial: "evaluate", collection: evaluates, as: :evaluate %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <nav aria-label="Page navigation example">
        <%= paginate evaluates, remote: true %>
      </nav>
    </div>
</div>
<div class="modal fade" id="detail-evaluate" role="dialog">
</div>
<%= javascript_include_tag "evaluate" %>
