<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= title_form_org params[:action] %></h4>
    </div>
    <div class="modal-body">
      <%= form_for [:admin, @organization], remote: true,
        html: {class: "form-horizontal form-bordered"} do |f| %>
        <div class="form-group">
          <%= f.label :name, class: "col-md-3 control-label" do %>
            <%= t "activerecord.attributes.organization.name" %>
            <span class="text-danger">*</span>
          <% end %>
          <div class="col-md-7">
            <div class="input-group">
              <%= f.text_field :name, class: "form-control",
                placeholder: t("organization_name") %>
                <span class="input-group-addon"><i class="fa fa-info"></i></span>
            </div>
            <%= f.error_span :name %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, class: "col-md-3 control-label" do %>
            <%= t "activerecord.attributes.organization.email" %>
            <span class="text-danger">*</span>
          <% end %>
          <div class="col-md-7">
            <div class="input-group">
              <%= f.email_field :email, class: "form-control",
                placeholder: t("enter_email") %>
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            </div>
            <%= f.error_span :email %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :phone, class: "col-md-3 control-label" do %>
            <%= t "activerecord.attributes.organization.phone" %>
            <span class="text-danger">*</span>
          <% end %>
          <div class="col-md-7">
            <div class="input-group">
              <%= f.text_field :phone, class: "form-control",
                placeholder: t("placeholder_phone") %>
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
            </div>
            <%= f.error_span :phone %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :location, class: "col-md-3 control-label" do %>
            <%= t "activerecord.attributes.organization.location" %>
            <span class="text-danger">*</span>
          <% end %>
          <div class="col-md-7">
            <div class="input-group full-width">
              <%= f.text_area :location, class: "form-control", rows: 3,
                placeholder: t("organization_location") %>
            </div>
            <%= f.error_span :location %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description, class: "col-md-3 control-label" do %>
            <%= t "activerecord.attributes.organization.description" %>
            <span class="text-danger">*</span>
          <% end %>
          <div class="col-md-7">
            <div class="input-group full-width">
              <%= f.text_area :description, class: "form-control", rows: 9,
                placeholder: t("organization_description") %>
            </div>
            <%= f.error_span :description %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :logo, class: "col-md-3 control-label" %>
          <div class="col-md-7">
            <div class="input-group">
              <%= f.file_field :logo, accept: Settings.image_upload %>
            </div>
          </div>
        </div>
        <% if is_action_new_or_create_organization? params[:action] %>
          <%= render "select_admin" %>
        <% end %>
        <div class="form-group form-actions">
          <div class="col-md-9 col-md-offset-5">
            <%= f.submit title_button_org(params[:action]), class: "btn btn-md btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <%= t "admin_manage.btn_close_modal" %></button>
    </div>
  </div>
</div>
