<%= javascript_include_tag "images", "data-turbolinks-track" => true  %>
<div class="header-spacer header-spacer_custom"></div>
<div class="container">
  <div class="row">
    <div class="col-xl-12 push-xl-0 col-lg-12 push-lg-0 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div id="collapse-post" class="collapse" tabindex="-1"
          role="dialog" aria-hidden="true">
        </div>
        <article class="hentry post has-post-thumbnail thumb-full-width private-event">
          <div class="row">
            <div class="col-md-2 col-xs-12">
              <%= link_to club_event_path(@post.target,club_id: @post.target.club.slug), title: t("back"),
                class: "btn btn-sm btn-primary" do %>
                <i class="fa fa-arrow-left"></i>
              <% end %>
            </div>
            <div class="col-md-8 col-xs-12">
              <div class="block-title">
                <h3 class="text-center"><strong><%= @post.name %></strong></h3>
              </div>
              <div class="content-post-show">
                <%= raw @post.content %>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="page-container">
                  <section class="site-content site-section">
                    <div class="container">
                      <div class="row portfolio">
                        <div class="">
                          <div class="tz-gallery list-gellary">
                            <div class="row">
                              <% if @post.post_galleries.image.present? %>
                                <% @post.post_galleries.image.each do |image| %>
                                  <div class="portfolio-item img-<%= image.id %>"
                                    data-category="">
                                    <%= link_to "#{image.url}", class: "list-image lightbox" do  %>
                                      <%= image_tag image.url, class: "centered-and-cropped" %>
                                    <% end %>
                                  </div>
                                <% end %>
                              <% end %>
                              <% if @post.post_galleries.video.present? %>
                                <% @post.post_galleries.video.each do |video| %>
                                  <div class="portfolio-item video-<%= video.id %>"
                                    data-category="">
                                    <%= link_to "#{video}", class: "list-image lightbox" do  %>
                                      <iframe src="<%= gsub_url_youtube video.url_video %>" allowfullscreen></iframe>
                                    <% end %>
                                  </div>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-12">
              <div class="pull-right">
                <% if can? :edit, @post %>
                  <%= link_to edit_post_path(@post),
                    remote: true, title: t("edit"), class: "btn btn-sm btn-primary" do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                <% end %>
                <% if can? :destroy, @post %>
                  <%= link_to post_path(@post, event_id: @post.target.id), method: :delete,
                    title: t("delete"), data: {confirm: t("posts.confirm_delete")}, class: "btn btn-sm btn-primary" do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
