<div class="header-spacer header-spacer-small"></div>
<!-- Main Header Badges -->
<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header top-header-favorit">
          <section class="top-header-thumb">
            <%= set_image_background_org @organization %>
            <% if @organization.is_admin? current_user %>
              <div class="title-header col-md-12">
                <div class="pull-left">
                  <%= link_to edit_organization_path(@organization, edit: :image),
                    remote: :true, class: "h6 edit-logo-organization" do %>
                    <i class="fa fa-camera" aria-hidden="true"></i>
                    <span class="animation-slideUp hidden-xs rating-container">
                      <%= t "edit_logo" %>
                    </span>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="title-header col-md-9">
              <div class="main-header-content text-center">
                <a href="#" class="h1 author-name"><%= @organization.name %></a>
                <span class="animation-slideUp hidden-xs rating-container">
                  <p class="description-organization h3"><%= raw(@organization.description) %></p>
                </span>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ... end Main Header Group -->

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <table class="event-item-table">
          <tbody>
            <tr class="event-item">
              <td class="author">
                <div class="event-author inline-items">
                  <div class="author-thumb img_small">
                    <%= image_tag @organization.logo, class: "img-circle org-img-details centered-and-cropped" %>
                  </div>
                  <div class="author-date">
                    <a href="#" class="author-name h6"><%= @organization.name %></a>
                  </div>
                </div>
              </td>
              <td class="location">
                <div class="ui-block-title" id="search-organization">
                  <%= search_form_for @q, url: organization_path(@organization, club: :true), class: "w-search", id: "organization_club_form" do |f| %>
                    <div class="row">
                      <div class="form-group with-button col-md-5" >
                        <%= f.text_field :name_cont,
                          placeholder: t("organization_details.search_name"),
                          class: "form-control", id: "organization_club_search" %>
                        <span class="input-group-addon" id="basic-addon1">
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                      </div>
                      <div class="w-select col-md-6">
                        <fieldset class="form-group club-type">
                          <%= f.select :club_type_id_eq, options_for_select(
                            @organization.club_types.map{|t| ["#{t.name}", t.id]}
                              .unshift([t("style_filter"), nil]),
                            include_blank: true),
                            {class: "select_custom form-control"}, id: "type_club_search" %>
                        </fieldset>
                      </div>
                    </div>
                  <% end %>
                </div>
              </td>
              <td class="location pull-right">
                <div class="row organization-funtion">
                  <div>
                    <%= render "organizations/toggle" %>
                  </div>
                  <div class="">
                    <% if @organization.is_admin? current_user %>
                      <%= link_to "#", data: {toggle: "dropdown"},
                        class: "btn btn-breez btn-sm other-funtion" do  %>
                        <%= t "manager" %> <i class="fa fa-caret-down"></i>
                      <% end %>
                    <% end %>
                    <ul class="drop-organization dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li>
                        <%= link_to "#add_member", data: {toggle: "modal"} do %>
                          <%= t "add_member" %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to new_organization_club_path(@organization.id),
                          remote: :true do %>
                          <%= t "add_club" %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to user_request_organization_path(@organization),
                          remote: :true do %>
                          <%= t "request_member" %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to club_request_organization_path(@organization), remote: :true do %>
                          <%= t "request_club" %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to statistic_reports_path(organization_slug: @organization,
                          q: params_reports, style_report: StatisticReport.styles[:monthly]),
                          remote: :true do %>
                          <%= t "list_statistic" %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to organization_path(@organization, club: :true),
                          remote: :true do %>
                          <%= t "club" %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to organization_club_type_path(@organization), remote: :true do %>
                          <%= t "manager_club_type" %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to set_sponsor_events_path(organization_id: @organization.id), remote: :true do %>
                          <%= t "sponsors.sponsors" %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to report_categories_path(organization_slug: @organization.slug), remote: :true do %>
                          <%= t "manager_report_category" %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to organization_rules_path(organization_id: @organization.slug),
                          remote: :true do %>
                          <%= t "rules_point.title_link" %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to organization_settings_path(organization_slug: @organization),
                          remote: :true do %>
                          <%= t "organization_settings.index.title" %>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-9 push-xl-3 col-lg-12 push-lg-0 col-sm-12 col-xs-12">
      <div class="row" id="organization_club">
        <% if @clubs.present? %>
          <% unless current_user.user_organizations.joined.join?(@organization) %>
            <%= render partial: "timeline", locals: {events: @organization_event} %>
          <% else %>
            <div class="col-md-12 text-center">
              <h5 class="notifi-join text-center"><%= t "organizations.organization_not_joined" %></h5>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xl-3 pull-xl-9 col-lg-6 pull-lg-0 col-md-6 col-sm-12 col-xs-12">
      <div class="ui-block">
        <%= render "list_user_contten" %>
        <%= render "list_clubs_contten" %>
        <div class="infor-title ui-block-title">
          <h6 class="title"><%= t "organization_details.organization_info" %></h6>
          <h6>
            <% if correctmanager(@organization).present?%>
              <%= link_to edit_organization_path(@organization, edit: :infor),
                remote: :true, title: t("edit"),
                class: "btton-edit-organization animation-fadeIn360 pull-right" do %>
                <i class="fa fa-pencil-square-o"></i>
              <% end %>
            <% end %>
          </h6>
        </div>
        <div class="list-infor ui-block-content">
          <ul class="organization-list-infor widget w-personal-info item-block">
            <li>
              <span class="title"><%= t "organization_details.name" %></span>
              <span class="text"><%= @organization.name %></span>
            </li>
            <li>
              <span class="title"><%= t "organization_details.created" %></span>
              <span class="text"><%= (l @organization.created_at, format: :short) unless
                @organization.created_at.nil? %></span>
            </li>
            <li>
              <span class="title"><%= t "organization_details.localtion" %></span>
              <span class="text"><%= @organization.location %></span>
            </li>
            <li>
              <span class="title"><%= t "organization_details.phone" %></span>
              <a href="#" class="text"><%= @organization.phone %></a>
            </li>
            <li>
              <span class="title"><%= t "organization_details.email" %></span>
              <a href="#" class="text"><%= @organization.email %></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="edit_organization" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
</div>
<div id="edit_image" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
</div>
<div id="add_member" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
  <%= render partial: "add_user_organization",
    locals: {user_organizations: @add_user_club} %>
</div>
<div id="modal-club-request" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
  <%= render "infor_club" %>
</div>
<div id="user_organization_show" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content load-user">
      <div class="form-group text-center">
        <button type="button" class="btn btn-breez button-more" data-dismiss="modal">
          <%= t "close" %>
        </button>
      </div>
    </div>
  </div>
</div>
