<tr class="add-user-member report-<%= report.id %>">
  <td>
    <%= link_to user_path report.user_id do %>
      <%= image_tag report.user_avatar, class: "member-avatar-request" %>
      <%= report.user_full_name %>
    <% end %>
  </td>
  <td>
    <%= l report.created_at, format: :short %>
  </td>
  <% if report.monthly? %>
    <td>
      <%= month_report report.time %>, <%= report.year %>
    </td>
  <% elsif report.quarterly? %>
    <td>
      <%= quarter_report report.time %>, <%= report.year %>
    </td>
  <% end %>
  <td class="status">
    <span class="status-report-<%= report.status %>">
      <%= t"#{report.status}" %>
    </span>
  </td>
  <td>
    <%= link_to club_manager_club_statistic_report_path(@club, report), remote: true,
      title: t("info"), class: "btn btn-warning btn-info-report" do %>
      <i class="fa fa-info"></i>
    <% end %>
    <% if can?(:edit, report) && (report.pending? || report.rejected?) %>
      <%= link_to edit_club_manager_club_statistic_report_path(@club, report), remote: true,
        title: t("edit"), class: "btn btn-primary btn-info-report" do %>
        <i class="fa fa-edit"></i>
      <% end %>
      <%= link_to club_manager_club_statistic_report_path(@club, report), remote: true,
        title: t("delete"), class: "btn btn-danger btn-info-report", method: :delete,
        data: {confirm: t("confirm_delete")} do %>
        <i class="fa fa-remove"></i>
      <% end %>
    <% end %>
  </td>
</tr>
