<table class="table ui-block table-pricing">
  <thead>
    <tr>
      <th><%= t "person_report" %></th>
      <th><%= t "club" %></th>
      <th><%= t "date_report" %></th>
      <th><%= t "time_report" %></th>
      <th><%= t "action" %></th>
    </tr>
  </thead>
  <tbody>
    <% statistic_reports.each do |statistic_report| %>
      <tr class="statistic_report-<%= statistic_report.id %>">
        <td>
          <%= link_to user_path(statistic_report.user_id) do %>
            <%= image_tag statistic_report.user_avatar,
              class: "member-avatar-request" %>
            <%= statistic_report.user_full_name %>
          <% end %>
        </td>
        <td>
          <%= statistic_report.club_name %>
        </td>
        <td>
          <%= l statistic_report.created_at, format: :short %>
        </td>
        <% if statistic_report.monthly? %>
          <td>
            <%= month_report statistic_report.time %>, <%= statistic_report.year %>
          </td>
        <% elsif statistic_report.quarterly? %>
          <td>
            <%= quarter_report statistic_report.time %>, <%= statistic_report.year %>
          </td>
        <% end %>
        <td>
          <%= link_to statistic_report_path(statistic_report,
            organization_slug: @organization.slug), remote: true,
            class: "btn btn-warning btn-sm aprove-user" do %>
            <%= t "detail" %>
          <% end %>
          <% if statistic_report.pending? %>
            <%= link_approve_report @organization.slug, statistic_report %>
            <%= link_reject_report @organization.slug, statistic_report %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
