<div class="form-group">
  <%= link_to t("send_notification"), "",class: "btn btn-blue btn-sm pull-left" %>
  <div class="row">
    <label class="push-md-1 col-md-4 label-title"><%= t "expiry_date_report" %>:</label>
    <%= date_field_tag :date_start, {}, class: "form-control date-report col-md-4" %>
  </div>
</div>
<table class="table ui-block table-pricing">
  <tbody>
    <% @clubs_not_report.each do |statistic_report| %>
      <tr>
        <td>
          <%= link_to organization_club_path(@organization, statistic_report.slug) do %>
            <%= image_tag statistic_report.logo,
              class: "logo-club-report" %>
          <% end %>
        </td>
        <td class="text-center club-name-report">
          <%= statistic_report.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
