<div class="ui-block col-md-12">
  <div class="infor-request ui-block-title">
    <h6 class="title"><%= t "request_club" %></h6>
    <div class="pull-right funtion-request">
      <%= link_to organization_path(@organization), remote: :true,
        class: "btn btn-primary btn-sm" do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <%= t "back" %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive list-user-request">
    <table class="table ui-block table-pricing">
      <tbody>
        <% if clubs_pending.any? %>
          <% clubs_pending.each do |club| %>
            <tr class="add-user-member">
              <td>
                <%= link_to user_path(club.user_id) do %>
                  <%= image_tag club.logo,
                    class: "member-avatar-request" %>
                <% end %>
              </td>
              <td>
                <%= club.name %>
              </td>
              <td>
                <%= l club.created_at, format: :short %>
              </td>
              <td>
                <%= club.full_name %>
              </td>
              <td class="show-request">
                <%= link_to t("view_detail"), edit_club_request_organization_path(club),
                  class: "btn btn-primary btn-sm pull-right", remote: :true %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr class="text-center">
            <td colspan="4">
              <h5 class="center notifi-empty"><%= t "edit_member.no_request" %></h5>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
