<div class="modal-dialog ui-block window-popup event-private-public private-event custom_budget_popup">
  <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
    <svg class="olymp-close-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-close-icon") %>"></use></svg>
  </a>
  <div class="ui-block">
    <div class="ui-block-title ui-block-title-small">
      <h6 class="title col-md-9"><%= t("history_budget") %></h6>
      <div class="pull-right">
        <% if @infor_club.history_budget.any? %>
          <%= link_to "",
            title: t("export_budget"), id: "export-budgets" do %>
            <span class="export-bugets primary">
              <i class="fa fa-download"></i>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="input-group col-md-7 push-md-2 nav_search" data-date-format="dd/mm/yyyy" id="budget-filter">
      <div class="col-md-6 row">
        <div class="col-md-3 span-date text-center"><span><strong><%= t("from") %></strong></span></div>
        <%= date_field_tag :date_first, {}, class: "export-buget text-center col-md-9" %>
      </div>
      <div class="col-md-6 row">
        <div class="col-md-3 span-date text-center"><span><strong><%= t("to") %></span></strong></span></div>
        <%= date_field_tag :date_end, {}, class: "export-buget text-center col-md-9" %>
      </div>
      <div class="col-md-6 row">
        <%= select_tag :limit_page, options_for_select(Settings.per_page_budget,
          selected: params[:limit_page] || Settings.per_page),
          class: "select_custom select_per_page col-md-2 push-md-2" %>
      </div>
      <%= hidden_field :club_id, value: @club.id %>
    </div>
    <div id="data-event">
      <%= render partial: "list_budget", locals: {events: @events} %>
    </div>
  </div>
  <div class="modal-footer">
    <% if can? :create, @club.events.build %>
      <%= link_to new_club_event_path(
        club_id: @club.id), class: "btn btn-sm btn-breez" do %>
        <i class="fa fa-plus-circle"> </i><%= t "form_event.new_event_money" %>
      <% end %>
    <% end %>
    <button type="button" class="btn btn-sm btn-primary mgr-left-0"
      data-dismiss="modal"><%= t("close") %></button>
  </div>
</div>
<%= javascript_include_tag "budgets" %>
