<div class="ui-block col-md-12">
  <div class="infor-request ui-block-title">
    <h6 class="title"><%= t "title_club_type" %></h6>
    <div class="pull-right funtion-request">
      <%= link_to "#new-list-type", data: {toggle: :collapse},
        class: "btn btn-breez btn-sm" do %>
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <%= t "create_type" %>
      <% end %>
      <%= link_to organization_path(@organization), remote: :true,
        class: "btn btn-primary btn-sm button-back" do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <%= t "back" %>
      <% end %>
    </div>
  </div>
  <div id="new-list-type" class="collapse">
    <div class="infor-request ui-block-title">
      <%= render partial: "form_new", locals: {club_type: @club_type} %>
    </div>
  </div>
  <% if club_types.any? %>
    <div class="table-responsive">
      <table class="table ui-block table-pricing">
        <thead>
          <tr>
            <th class="text-center"><%= t "name_club_type" %></th>
            <th class="text-center"><%= t "date_club_type" %></th>
            <th class="text-center"><%= t "sum_club" %></th>
            <th class="text-center"><%= t "action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "club_type", collection: club_types, as: :club_type %>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <nav aria-label="Page navigation example">
        <%= paginate club_types, remote: true %>
      </nav>
    </div>
  <% else %>
    <div class="row text-center">
      <h5 class="center notifi-empty"><%= t "no_type" %></h5>
    </tr>
  <% end %>
</div>
