<strong><%= t "mail_remind_report_title" %></strong><br>
<% if @style == StatisticReport.styles[:monthly] %>
  <%= t "mail_remind_content_month", time: @time %><br>
<% elsif @style == StatisticReport.styles[:quarterly] %>
  <%= t "mail_remind_content_quarter", time: @time %><br>
<% end %>
<%= t "mail_remind_notice" %><br>
<%= t "mail_remind_club_list" %><br>
<ul>
  <% if @clubs.any? %>
    <% @clubs.each do |club| %>
      <li><%= club.name %> : <%= club.organization_name %></li>
    <% end %>
  <% end %>
</ul>
<%= link_to t("click_here"), @url %>
